<!DOCTYPE html>
<html>
<head>
  <title>Kieran Grayshon|500</title>
  {% include 'html/includes/meta.html' %}
</head>
<body>
  {% include 'html/includes/masthead.html' %}
  {% include 'html/includes/navbar.html' %}
  <div class="text-center text-dark" id="main">
    <h1>Error 500</h1>
    <h2>Sorry we have failed you. The algorithm didn't work 😢</h2>
    <img class="image-fluid" src="/static/images/error_memes/500_1.jpg">
  </div>
  <br>
  {% include 'html/includes/footer.html' %}
</body>
</html>
