<!DOCTYPE html>
<html>
<head>
  <title>Kieran Grayshon</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
  <link rel="shortcut icon" href="static/images/logo.jpeg"/>

  <meta charset="utf-8">
  <meta name="keywords" content="Kieran Grayshon, KiloGram">
  <meta name="description" content="Kieran Grayshon">
  <meta name="author" content="Kieran Grayshon">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-25"></div>
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1>Kieran Grayshon</h1>
          <p class="lead"><a href="">KiloGram coming soon...</a><br>If you would like to contact me use the links below...</p>

          <a href="mailto:kieran.david.grayshon@gmail.com" target="_top"><img src="static/images/mail.png" width="75" height="75"></a>
          <a href="https://www.instagram.com/kieran_grayshon/"><img src="static/images/instagram.png" width="75" height="75"></a>
          <a href="https://github.com/K-D-G"><img src="static/images/github.png" width="75" height="75"></a>
          <a href="https://stackoverflow.com/users/9836388/k-d-g"><img src="static/images/stackoverflow.svg" width="75" height="75"></a>
        </div>
      </div>
    </div>
  </header>
  <div id="main" class="col-12 text-center">

  </div>
  <footer>
    <div class="footer-copyright text-center py-3">
      A Kieran Grayshon production &copy; 2022 All rights reserved
    </div>
  </footer>
</body>
</html>
