<!DOCTYPE html>
<html>
<head>
  <title>Kieran Grayshon</title>
  {% include 'html/includes/meta.html' %}
</head>
<body>
  {% include 'html/includes/masthead.html' %}
  {% include 'html/includes/navbar.html' %}
  <img src="static/images/me.jpg" width="134.5" height="185.25" class="rounded mx-auto d-block" alt="Kieran Grayshon">
  <div id="main" class="col-md-8 mx-auto col-20 p-20 w-50 text-left justify-content-left">
    <p>
      <br>
      Hello, my name is Kieran Grayshon. I am a programmer and student from
      Leeds UK. I am currently studying for a BSc in Computer Science and Artificial Intelligence,
      with the view to go onto to achieve an MEng in Aritificial Intelligence
      <br>
      <br>
      This is my website which will host a few example projects that
      I have been working on in my spare time as a kind of sort of small portfolio
      <br>
      <br>
      If you would like to contact me please use the links at the bottom of this page or <a href="mailto:kieran.david.grayshon@gmail.com">click here</a> to email me
      and for a copy of my CV <a href="documents/KieranGrayshonCurriculumnVitae.pdf" download>click here</a>
      <br>
      <br>
      Thank you for taking time to view my website
      <br>
      Yours faithfully,
      <br>
      Kieran
    </p>
  </div>
  {% include 'html/includes/footer.html' %}
</body>
</html>
