<footer class="page-footer font-small bg-dark text-white">
  <div class="container h-100">
    <div class="row h-25 align-items-center">
      <div class="col-12 text-center">
        <h5 class="font-weight-bold mt-2 mb-2">Contact</h5>
      </div>
    </div>
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <a href="mailto:kieran.david.grayshon@gmail.com" target="_top"><img src="/static/images/mail.png" width="75" height="75" alt="Email"></a>
        <a href="https://www.instagram.com/kieran_grayshon/"><img src="/static/images/instagram.png" width="75" height="75" alt="Instagram"></a>
        <a href="https://github.com/K-D-G"><img src="/static/images/github.png" width="75" height="75" alt="Github"></a>
        <a href="https://stackoverflow.com/users/9836388/k-d-g"><img src="/static/images/stackoverflow.svg" width="70" height="70" alt="Stack Overflow"></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    A Kieran Grayshon production &copy; 2022 All rights reserved
  </div>
</footer>
